transformers
jupyter
numpy
neo4j
torch==1.8.0
scikit-learn
clearml
torch-scatter -f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html 
torch-sparse -f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html 
torch-cluster -f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html 
torch-spline-conv -f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html 
torch-geometric 
pytorch_lightning 